div{
    border-style: solid;
    border-width: 3px;
    border-color: darkgrey;
    padding: 10px;
}    

body{ 
    background: url('http://i.giphy.com/Fs3SbfgOZLeSs.gif');
    background-repeat: repeat;
    background-size: 50%;
    font-family: tahoma;
    font-size: 20px;
    text-align: center;
}

.list-group-item{
   background-image: url("http://1-art.eu/images/backgrounds/vellum/vellum-pink-seamless-tile3.jpg");
   background-size: 60%;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}
/*Put a backround image on my nav bar, I know it looks amazing.*/

.jumbotron {
    margin-bottom: 2px;
    background-image: url(http://1-art.eu/images/backgrounds/vellum/vellum-pink-seamless-tile3.jpg);
    background-position: center;
    background-size: 10%;
    background-repeat: repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
/*Used the same background image as my nav bar for my jumbottron, to make it look a little less weird.*/