div{
    border-style: solid;
    border-width: 3px;
    border-color: darkgrey;
    padding: 10px;
}    

body{ 
    background: url('http://i.giphy.com/Fs3SbfgOZLeSs.gif');
    background-repeat: repeat;
    font-family: tahoma;
    font-size: 20px;
    text-align: center;
}

.row{
    border-color: lightpink;
}
.list-group-item{
   background-image: url("http://1-art.eu/images/backgrounds/vellum/vellum-pink-seamless-tile3.jpg");
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}
